<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | starthere</title>
    {{# stylesheets.load }}
      application.css
    {{/ stylesheets.load }}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <ul id="information">
      <li><a href="/">home</a></li>
      <li><a href="/jade-dominguez">about me</a></li>
    </ul>
    <div id="wrapper">
        {{{ content }}}

      <div id="footer" class="padding">
      </div>
    </div>

    {{{ widgets.syntax }}}
    {{{ widgets.analytics }}}
  </body>
</html>
